# environment
.env
venv/

# python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/
dist/
build/

# data

# outputs
apps/computer_vision/results/
apps/computer_vision/engine/segments/
test.py
*.log

# node
node_modules/

# ide
.vscode/
.idea/
.DS_Store